/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-group label {
  input.radio {
    display: none;
  }
  input.checkbox {
    display: none;
  }
}
