<div class="title-block">
    <h3 class="title pull-left">Счёт <span class="sparkline bar"></span></h3>
    <div class="pull-right">
        <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
<section class="section">
    <div *ngIf="!isLoaded">loading...</div>
    <div class="row" *ngIf="isLoaded">
        <wfm-bill-card [bill]="bill" [currenciesRates]="currenciesRates"></wfm-bill-card>
        <wfm-currency-card [currenciesRates]="currenciesRates"></wfm-currency-card>
    </div>
</section>
