AddDefaultCharset utf-8
RewriteEngine On
RewriteBase /

# Скрыть файлы
RewriteRule ^.htaccess$ - [F]

# Запрет выдачи листинга каталога без индексного файла
Options -Indexes

# Удаляю последний слэш с конца
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$  /$1 [R=301,L]

# Перенапрвавить на index.php если в пути есть api
RewriteCond %{REQUEST_URI} /api.*
RewriteRule ^api(.*)$ public/$1 [L,QSA]
RewriteRule ^(.*)$ public/app/$1 [L,QSA]
